{% extends "products/base.html" %}
{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Welcome</legend>
                {{ form.as_p }}
            </fieldset>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
        <div>
            <small>
                <p>Need an account?</p> <a href="{% url 'register' %}"><span>Sign Up Now</span></a>
            </small>
        </div>
    </div>
{% endblock %}