{% extends "products/base.html" %}
{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Join</legend>
                {{ form.as_p }}
            </fieldset>
            <div>
                <button type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                <p>Already a registered user?</p> <a href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock %}