<li>    <div class="small">{{post.text}}</div>
        <div class="small">{{post.author}}</div>
        <div class="small">{{post.date}}</div>
        
        {% if user.is_authenticated %}
            <button class="create_comment_bt small">Click to comment</button>
            <div id="comment_div"> 
            <form action="{% url 'forum:savepost' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{post.id}}"/>
                <input type="hidden" name="topic_id" value="{{topic.id}}"/>
                <textarea class="form-control rounded-0" type="text" name="post_text" title="Post a comment here"></textarea>
                <button type="submit">Submit comment</button>
            </form>
            </div>
        {% endif %}

        {% if post.author == user %}
            <button class="edit_comment_bt small" style="margin-left:25px">Edit Comment</button> 
            <div style="display:none">
                <form action="{% url 'forum:edit_post' %}" method="post">
                    {% csrf_token %}
                <input type="hidden" name="post_id" value="{{post.id}}"/>
                <textarea class="form-control rounded-0 " style="margin-left:25px" type="text" name="edit_text">{{ post.text }}</textarea>
                <button class="submit_edit_bt small" style="margin-left:25px" type="submit">Submit Edit</button>
            </form>
            </div>
            <form action="{% url 'forum:delete_post' %}" method="post">
                    {% csrf_token %}
                <input type="hidden" name="post_id" value="{{post.id}}"/>
                <button class="delete_comment small" style="margin-left:25px" type="submit">Delete Comment</button>
            </form>
        {% endif %}

    {% if post.children.all %}
        <ul>
         {% for child in post.children.all %}
              {% with post=child template_name="forum/tree_template.html" %}
                   {% include template_name %}
              {% endwith %}
         {% endfor %}
         </ul>
    {% endif %}
</li>