html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=PT+Serif');

body {
	min-height: 100%;
	font-family: 'PT Serif', serif;
}

#uni-name {
	font-size: 24pt;
}

#navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #7C14FF;
	color: white;
	height: 10%;
	align-items: center;
	padding: 20px;
}

a {
	color: white;
	text-decoration: none;
}

#uni_pic {	
	margin: 0 auto;
/* 	display: block; */
	width : 50%;
	padding: 10px;
	align-self: center;
}

#photo_text {
	display: flex;
	flex-direction: row;
	margin: 0, auto;
	padding: 10px;
	align-items: center;
	justify-items: space-between;
}
	
#news_columns {
	display: flex;
	flex-direction: row;
	padding: 10px;
	justify-items: space-between;
}

#news {
	margin: 10px;
}

#newsline {
	padding: 20px;
	font-size: 24pt:
	font-style: bold;
}

#news_columns > div {
	padding:10px;
	width:33%;
}

footer {
	text-align: center;
}