{% extends 'products/base.html' %}

{% block content %}
{% for product in products %}
    <h2>{{ object.title }}</h2>
    <p>{% if product.description != None and product.description != '' %}{{ product.description }}{% else %}Coming Soon{% endif %}</p>
    <p>{{ object.price }}</p>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{product.id}}"/>
        <input type="submit" value="Add To Cart">
    </form>
    <hr>
{% endfor %}
{% endblock %}
