<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <form action="{% url 'todo_app:savetodo' %}" method="post">
        {% csrf_token %}
        <input type="text" name="todo_text" required/>
        <button type="submit">Add Todo</button>
    </form>
    <ul>
        {% for todo_item in todo_items %}
        <li>{{ todo_item.text }}</li>
        {% endfor %}
    </ul>
</body>
</html>