
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" type="text/javascript"></script>
    </head>
    <body>
        <input type="text" id="input_todo"/>
        <button id="bt_add_todo">add</button>
        <ul id="todo_list">
        </ul>

        <script type="text/javascript">
            let todo_list = document.querySelector('#todo_list')
            let input_todo = document.querySelector('#input_todo')
            let bt_add_todo = document.querySelector('#bt_add_todo')

            function get_todos() {
                axios.get("{% url 'todoajax:get_todos' %}").then(function(response) {
                    let todo_items = response.data.todo_items
                    todo_list.innerHTML = ''
                    for (let i=0; i<todo_items.length; ++i) {
                        let li = document.createElement('li')
                        li.innerText = todo_items[i].text
                        todo_list.appendChild(li)
                    }
                })
            }

            get_todos()

            bt_add_todo.onclick = function() {
                axios.post("{% url 'todoajax:save_todo' %}",
                    {
                        'todo_text': input_todo.value
                    }, {
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}"
                        }
                    }
                ).then(function(response) {
                    input_todo.value = ''
                    get_todos()
                })
            }
        </script>

    </body>
</html>
